<ion-view view-title="Envelopes">
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="vm.showCreateEnvelope()">
            New
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item>
                ${{ vm.me.amount }} / day
                <div class="media-body">
                    <div ng-repeat="envelope in vm.envelopes"
                         ng-style="{
                        'width': envelope.daily_amount / vm.me.amount * 100 + '%'
                     }"
                         style="float:left;background-color:blue;color:white;box-sizing: border-box;border:1px solid white">
                        {{ envelope.name }} {{ envelope.amount / vm.me.amount * 100 | number:0 }}%
                    </div>
                </div>
            </ion-item>
            <ion-item ng-repeat="envelope in vm.envelopes"
                      ng-click="vm.showEnvelope(envelope)"
                      class="item-text-wrap">

                <div style="float:left;margin-right:10px;" ng-style="{'color': vm.getEnvelopeColor(envelope) }">
                    ${{ envelope.balance | number:2 }}
                </div>
                <div style="overflow:auto">
                    <h3>
                        {{ envelope.name }}
                        <!--- ${{ envelope.daily_amount | number:2 }} / day-->
                    </h3>
                    <p ng-hide="envelope.due_date">
                        Saving envelope
                    </p>
                    <p ng-show="envelope.due_date">
                        ${{ envelope.due_amount }} available in <span am-time-ago="envelope.due_date * 1000"></span>
                        (${{ envelope.daily_amount | number:2 }}/day)
                    </p>
                    <p ng-show="envelope.balance < 0">
                        Watch your spending.
                        This will be payed off in
                        {{ envelope.balance / envelope.daily_amount * -1 | number:0 }} days
                    </p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
