<ion-view view-title="Envelopes">
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="vm.showCreateEnvelope()">
            New
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item>
                ${{ vm.me.amount }} / day
                <div class="media-body">
                    <div ng-repeat="envelope in vm.envelopes"
                         ng-style="{
                        'width': envelope.amount / vm.me.amount * 100 + '%'
                     }"
                         style="float:left;background-color:blue;color:white;box-sizing: border-box;border:1px solid white">
                        {{ envelope.name }} {{ envelope.amount / vm.me.amount * 100 | number:0 }}%
                    </div>
                </div>
            </ion-item>
            <ion-item ng-repeat="envelope in vm.envelopes"
                      ng-click="vm.showEnvelope(envelope)"
                      class="item-text-wrap">

                <div style="float:left;margin-right:10px;" ng-style="{'color': envelope.balance < 0 && 'red' || 'green' }">
                    ${{ envelope.balance | number:2 }}
                </div>
                <div style="overflow:auto">
                    <h3>
                        {{ envelope.name }}
                        -
                        (Tomorrow: ${{ envelope.balance + envelope.amount | number:2 }})
                    </h3>
                    <p ng-show="envelope.balance < 0">
                        Watch out, you've spent to much. Don't worry, it will be paid off in
                        {{envelope.balance / envelope.amount * -1 | number:0 }} days.
                    </p>
                    <p>Transactions {{ envelope.transactions.length }}</p>
                    <p>
                        Active: {{ envelope.active }}
                    </p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
