<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{ vm.newEnvelope.name }}</h1>
        <button class="button" ng-click="vm.cancel()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" ng-model="vm.newEnvelope.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Amount</span>
                <input type="number" placeholder=""
                       ng-model="vm.newEnvelope.due_amount">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Every
                </div>
                <select ng-model="vm.newEnvelope.period">
                    <option value="1">Day</option>
                    <option value="7">Week</option>
                    <option value="14">2 Weeks</option>
                    <option value="28">4 Weeks</option>
                    <option value="84">Quarter</option>
                    <option value="84">Year</option>
                </select>
            </label>

            <!--<div class="item item-toggle">-->
            <!--Due Date-->
            <!--<label class="toggle toggle-positive">-->
            <!--<input type="checkbox" ng-model="vm.hasDueDate">-->
            <!--<div class="track">-->
            <!--<div class="handle"></div>-->
            <!--</div>-->
            <!--</label>-->
            <!--</div>-->

            <label class="item item-input">
                <span class="input-label">Next Due Date</span>
                <input type="date"
                       ng-model="vm.newEnvelope.due_date">
            </label>
            <button class="button button-full button-positive item" ng-click="vm.updateEnvelope(vm.newEnvelope)">
                Create Envelope
            </button>
        </div>
    </ion-content>
</ion-modal-view>