<ion-view view-title="Envelopes">
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="vm.showEditEnvelope()">
            Edit
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item>
                <h3>
                    {{ vm.envelope.name }}
                    - ${{ vm.envelope.balance }}
                </h3>
                <p>${{ vm.envelope.daily_amount }} / day</p>
            </ion-item>
            <div class="item item-divider">
                Transactions
            </div>
            <ion-item ng-repeat="transaction in vm.envelope.transactions">
                <h4>
                    {{ transaction.description }}
                </h4>
                <p>
                    ${{ transaction.amount }}
                </p>
                <p>
                    {{ transaction.effective_date }}
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
