<ion-view view-title="New Transactions">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-hide="vm.transactions.length" class="item-text-wrap">
                No new transactions. Pull to refresh to check for more.
            </ion-item>
            <ion-item ng-repeat="transaction in vm.transactions"
                      ng-click="vm.showAssignTransaction(transaction)">
                <h4 ng-bind-html="transaction.description">
                </h4>
                <p>
                    ${{ transaction.amount }}
                </p>
                <p>
                    {{ transaction.effective_date }}
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>